.container {
  display: flex;
  align-items: center;
  min-height: 50vh;
  width: 100%;
  flex-wrap: wrap;
  background-color: white;
}

/* flex classes */

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.justify-content-center {
  justify-content: center;
}

/* Home page */

div.homePage {
  background: radial-gradient(circle, rgba(0, 167, 225, 1) 0%, rgba(0, 52, 89, 1) 100%);
  height: 100vh;
}

/* Form */

form#loginForm {
  border: 1px solid transparent;
  padding: 20px;
  box-shadow: 10px 10px 19px 10px rgba(0, 0, 0, 0.37);
  border-radius: 10px;
  width: 30%;
  background-color: #EDEDF4;
  color: rgba(0, 52, 89, 1);
}

/* Title */

h1.formTitle {
  text-align: center;
  margin: 10% 0;
}

/* Input */

.nameInput {
  padding: 10px;
  border: 0;
  background-color: transparent;
  border-bottom: 2px solid rgba(0, 52, 89, 1);
  color: rgba(0, 52, 89, 1);
}

.nameInput:focus {
  outline: none;
}

.nameInput::placeholder {
  color: rgba(0, 52, 89, 1);
}

.error {
  border-bottom: 2px solid red;
}

.errorMsg {
  color: red;
  padding: 5px 0;
  margin: 0;
  font-size: 15px;
  min-height: 20px;
}

/* Button */

#submitBtn {
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
  border: 0;
  box-shadow: 5px 5px 5px 0px grey;
  background: linear-gradient(to right, rgba(0, 167, 225, 1) 0%, rgba(0, 52, 89, 1) 100%);
  color: white;
}

#submitBtn:hover {
  cursor: pointer;
}

#submitBtn:focus {
  outline: 0;
}

#submitBtn:disabled {
  opacity: 0.7;
}

/* Cards page */

/* Header */

div#header {
  background-color: #00A7E1;
  padding: 10px;
}

div#header>p {
  color: white;
  padding: 0 10px;
}

/* Filter Menu */

div#filterContainer {
  background-color: #003459;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
}

/* Search Bar */

input.searchBar {
  height: 30px;
  width: 23%;
  border-radius: .25em;
  border: 0;
  background: #007EA7;
  padding: 0 .5em;
  margin: 1%;
  color: white;
  box-sizing: border-box;
}

input.searchBar:focus {
  outline: 0;
}

input.searchBar::placeholder {
  color: white;
}

/* Select */

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: #007EA7;
  background-image: none;
}

select::-ms-expand {
  display: none;
}

.select {
  position: relative;
  display: flex;
  width: 23%;
  margin: 1%;
  height: 30px;
  line-height: 2;
  background: #2c3e50;
  overflow: hidden;
  border-radius: .25em;
}

select {
  flex: 1;
  padding: 0 .5em;
  color: #fff;
  cursor: pointer;
}

.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background: #34495e;
  cursor: pointer;
  pointer-events: none;
  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;
}

.select:hover::after {
  color: #f39c12;
}

option.active {
  background-color: #f39c12;
}

/* No Results */

img.noResults {
  margin: 10vh 0;
  max-width: 80vw;
}

/* Card */

div.card {
  margin: 25px 2%;
  width: 21%;
  border-radius: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  background-color: #EDEDF4;
  box-shadow: 3px 5px 19px 2px rgba(0, 0, 0, 0.37);
}

div.cardContent {
  padding: 10px;
}

p.setName {
  color: orange;
  padding: 10px;
  font-weight: bold;
}

div.cardTypes {
  position: absolute;
  bottom: 2%;
  left: 5%;
  color: orange;
}

div.grid {
  background-image: url('./img/grid.jpg');
  background-size: cover;
  border-radius: 10px 10px 0 0;
}

/* Loader */

div#loader {
  border-top: 10px solid #34495e;
  border-right: 10px solid #34495e;
  border-left: 10px solid #007EA7;
  border-bottom: 10px solid #007EA7;
  border-radius: 50%;
  box-shadow: 0.5px 0.5px 5px gray;
  width: 30px;
  height: 30px;
  animation: spin 2s linear infinite;
  margin: 40vh 0;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* @media */

@media only screen and (max-width: 992px) {
  div.card {
    margin: 40px 2%;
    width: 29%;
  }
  input.searchBar {
    width: 48%;
  }
  div.select {
    width: 48%;
  }
  div#filterContainer {
    flex-wrap: wrap;
  }
  form#loginForm {
    width: 40%;
  }
}

@media only screen and (max-width: 768px) {
  div.card {
    margin: 30px 3%;
    width: 44%;
  }
  form#loginForm {
    width: 50%;
  }
}

@media only screen and (max-width: 576px) {
  div.card {
    margin: 20px 20%;
    width: 60%;
  }
  input.searchBar {
    width: 96%;
    margin: 1.5% 2%;
  }
  div.select {
    width: 96%;
    margin: 1.5% 2%;
  }
  form#loginForm {
    width: 80%;
  }
}

@media only screen and (max-width: 430px) {
  div.card {
    margin: 20px 10%;
    width: 80%;
  }
}